<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Handle Scraper</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link href="static/css/main.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <h1>Twitter Handle Scraper</h1>

      <h2>Search criteria</h2>
      <form>
        <div class="form-group">
          <label for="add-url-input">Add URL</label>
          <div class="input-group">
            <input type="text" class="form-control" id="new-url-input" placeholder="URL address">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="add-url">Add</button>
            </span>
          </div>
          <p class="help-block">Include the protocol as part of the url. Example: https://google.com</p>
        </div>

        <div class="panel panel-default" id="list">
          <div class="panel-heading">URLs</div>
          <ul class="list-group" id="urls">
          </ul>
        </div>

        <div class="form-group">
          <label>Where to search</label>
          <div class="radio">
            <label>
              <input type="radio" name="options" id="options-text" value="text" checked>
              Text
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="options" id="options-links" value="links">
              Links
            </label>
          </div>
        </div>

        <button type="button" class="btn btn-default btn-primary" id="submit" disabled>Search</button>
      </form>

      <div id="results-container">
        <h2>Results</h2>
        <div class="well" id="results"></div>
      </div>
    </div>

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
